  <h1> {{account.name}} </h1>
  <h3> Address: {{account.address}}</h3>
  <h3> Phone Number: {{account.phone_number}}</h3>
  <h3> Balance: {{account.balance}} </h3>

  <h1> Transactions </h1>
  <ul>
    {% for transaction in account.account_from_set.all %}
      <li> {{transaction.name}} - {{transaction.transaction_type}} <br>
        Account To: {{transaction.account_to.name}} <br>
        Amount: {{transaction.amount}}
      </li>
    {% endfor %}
  </ul>

  <h1> New Transaction </h1>
  <form action="/transaction/new" method="post">{% csrf_token %}
    <label for="name">Description: </label>
    <input id="name" type="text" name="name" maxlength="25" required />
    <label for="transaction_type">Type</label>
       {{ form.transaction_type }} <!-- dropdown for transaction types would be here -->
    <label for="account_to">Type: </label> <!-- account_from would default to self -->
    <input id="account_to" type="text" name="account_to" maxlength="10" required />
    <label for="amount">Amount: </label>
    <input id="amount" type="text" name="amount" maxlength="100" required />
    <input type="submit" value="OK"/>
  </form>
